body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h1{
    font-size: 64px;
    margin-top: -32px;
    margin-bottom: -16px;
}

canvas {
    border: 1px solid black;
}

.slider {
    width: 100%;
    height: 10px;
    margin: 20px 0;
    background: #111111;
    outline: none;
    -webkit-appearance: none;
    max-width: 500px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #cf0;
    border-radius: 50%;
    cursor: pointer;

}


#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    display: none; /* hidden by default */
}


#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-animation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-dot {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0;
    animation: loading-animation 1s infinite;
  }
  
  @keyframes loading-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }