body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h1{
    font-size: 64px;
    margin-top: -32px;
    margin-bottom: -16px;
}

canvas {
    border: 1px solid black;
    max-width: 100%
}

.slider {
    width: 100%;
    height: 10px;
    margin: 20px 0;
    background: #111111;
    outline: none;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #cf0;
    border-radius: 50%;
    cursor: pointer;

}


#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    display: none; /* hidden by default */
}


a {
    color: white;
    margin-top: 16px;
    font-size: .8rem;
}

button{
    border: none;
}

.toggle-switch {
    position: relative;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 20px;
    background-color: #eeeeee;
}

.toggle-switch-inner {
    width: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
}

.toggle-switch-switch {
    display: block;
    width: 18px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 19px;
    border: 1px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 3px; 
}


#uploadLabel {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    font-size: 13.33px;
    cursor: pointer;
    background: white;
    color: black;

 
}
button{
    cursor: pointer;
    background: white;
}

.controls{
    background: white;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0.5rem;
    width: fit-content;
    margin: auto;
}

.journey{
width: 200px;
margin-bottom: .5rem;
padding-top: .5rem;
padding-bottom: .5rem;
font-weight: bold;

}

.journey:hover{
    opacity: .9;
}

#appContainer{
    padding: 16px;
}

* {
    touch-action: manipulation;
}

@media screen and (max-width: 500px){
    h1{
        margin-top: -100px !important;
    }
}